<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PanoramioTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D738A3DC1C68B6AC00E12BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D738A3F51C68B6AC00E12BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D738A4001C68B6AC00E12BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
